In [24]:
import numpy as np
import pandas as pd
import time
from matplotlib import pyplot as plt
import os
from collections import OrderedDict

data_base = "C:\\Users\\wenyang.zhang\\Documents\\MySpace\\Workspace\\SalesAnalies\\data\\csv"

In [39]:
groupall = data.groupby(["Region"])
#groupall = data.groupby(["Region", "Sub Region"])
# groupall = data.groupby(["Region", "Sub Region", "MaterialName (EN)"])

dic = OrderedDict()
index = 16
month = 1
while index > 4:
    file_name = "data({}).csv".format(index)
    #print("load data: ", file_name)
    file_path = os.path.join(data_base, file_name)
    data = pd.read_csv(file_path)
    data.drop(["Unnamed: 0", "Outlet No"], inplace=True, axis=1)
    groupData = data.groupby(["Region", "Sub Region", "Material No"])
    groupData = groupData.sum()
    dic[month] = groupData
    print("complete month: ", month, "group size: ", np.shape(groupData))
    index -= 1
    month += 1

complete month:  1
complete month:  2
complete month:  3
complete month:  4
complete month:  5
complete month:  6
complete month:  7
complete month:  8
complete month:  9
complete month:  10
complete month:  11
complete month:  12

In [45]:
data_all1 = dic[1]
data_all2 = dic[2]
joinColumns = ["Region", "Sub Region", "Material No"]
data_all = pd.merge(dic[1], dic[2], on=joinColumns)
data_all = pd.merge(data_all, dic[3], on=joinColumns)
print(data_all.info())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1314 entries, (EOC, AnHui, 2022688) to (WOC, WOC4, 2043699)
Data columns (total 90 columns):
20180101    1314 non-null float64
20180102    1314 non-null float64
20180103    1314 non-null float64
20180104    1314 non-null float64
20180105    1314 non-null float64
20180106    1314 non-null float64
20180107    1314 non-null float64
20180108    1314 non-null float64
20180109    1314 non-null float64
20180110    1314 non-null float64
20180111    1314 non-null float64
20180112    1314 non-null float64
20180113    1314 non-null float64
20180114    1314 non-null float64
20180115    1314 non-null float64
20180116    1314 non-null float64
20180117    1314 non-null float64
20180118    1314 non-null float64
20180119    1314 non-null float64
20180120    1314 non-null float64
20180121    1314 non-null float64
20180122    1314 non-null float64
20180123    1314 non-null float64
20180124    1314 non-null float64
20180125    1314 non-null float64
20180126    1314 non-null float64
20180127    1314 non-null float64
20180128    1314 non-null float64
20180129    1314 non-null float64
20180130    1314 non-null float64
20180131    1314 non-null float64
20180201    1314 non-null float64
20180202    1314 non-null float64
20180203    1314 non-null float64
20180204    1314 non-null float64
20180205    1314 non-null float64
20180206    1314 non-null float64
20180207    1314 non-null float64
20180208    1314 non-null float64
20180209    1314 non-null float64
20180210    1314 non-null float64
20180211    1314 non-null float64
20180212    1314 non-null float64
20180213    1314 non-null float64
20180214    1314 non-null float64
20180215    1314 non-null float64
20180216    1314 non-null float64
20180217    1314 non-null float64
20180218    1314 non-null float64
20180219    1314 non-null float64
20180220    1314 non-null float64
20180221    1314 non-null float64
20180222    1314 non-null float64
20180223    1314 non-null float64
20180224    1314 non-null float64
20180225    1314 non-null float64
20180226    1314 non-null float64
20180227    1314 non-null float64
20180228    1314 non-null float64
20180301    1314 non-null float64
20180302    1314 non-null float64
20180303    1314 non-null float64
20180304    1314 non-null float64
20180305    1314 non-null float64
20180306    1314 non-null float64
20180307    1314 non-null float64
20180308    1314 non-null float64
20180309    1314 non-null float64
20180310    1314 non-null float64
20180311    1314 non-null float64
20180312    1314 non-null float64
20180313    1314 non-null float64
20180314    1314 non-null float64
20180315    1314 non-null float64
20180316    1314 non-null float64
20180317    1314 non-null float64
20180318    1314 non-null float64
20180319    1314 non-null float64
20180320    1314 non-null float64
20180321    1314 non-null float64
20180322    1314 non-null float64
20180323    1314 non-null float64
20180324    1314 non-null float64
20180325    1314 non-null float64
20180326    1314 non-null float64
20180327    1314 non-null float64
20180328    1314 non-null float64
20180329    1314 non-null float64
20180330    1314 non-null float64
20180331    1314 non-null float64
dtypes: float64(90)
memory usage: 928.9+ KB
None

In [49]:
data_all = dic[1]
for i in range(2, 13):
    data_all = pd.merge(data_all, dic[i], on=["Region", "Sub Region", "Material No"])
print(np.shape(data_all))

(891, 365)

In [38]:
file_name = "data(14).csv".format(index)
#print("load data: ", file_name)
file_path = os.path.join(data_base, file_name)
data = pd.read_csv(file_path)
print(data.head())

   Unnamed: 0 Region Sub Region       Area  Outlet No Outlet Name Account  \
0           0    EOC      AnHui  HeFeiQuYu   13953003    家乐福合肥长江店     家乐福
1           1    EOC      AnHui  HeFeiQuYu   13953003    家乐福合肥长江店     家乐福
2           2    EOC      AnHui  HeFeiQuYu   13953003    家乐福合肥长江店     家乐福
3           3    EOC      AnHui  HeFeiQuYu   13953003    家乐福合肥长江店     家乐福
4           4    EOC      AnHui  HeFeiQuYu   13953003    家乐福合肥长江店     家乐福

  Product Line(EN) Product Line(CN)  Material No  ... 20180322 20180323  \
0       Enfa Local           Enfa国产      2022760  ...      5.0      NaN
1       Enfa Local           Enfa国产      2022861  ...      NaN     12.0
2       Enfa Local           Enfa国产      2030149  ...      NaN      NaN
3       Enfa Local           Enfa国产      2030921  ...      NaN      NaN
4       Enfa Local           Enfa国产      2041151  ...      NaN      NaN

   20180324  20180325  20180326  20180327  20180328  20180329  20180330  \
0       4.0       NaN       NaN       4.0       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN       NaN       NaN       6.0
4       NaN       NaN       NaN       NaN       NaN       NaN       NaN

   20180331
0       NaN
1       NaN
2       NaN
3       NaN
4       5.0

[5 rows x 43 columns]